*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 65vh;
    background-color: #FBEEF1;
}
.banner{
    width: 100%;
    height: 65vh;
    display: flex;
}

.banner-text{
    padding-top: 100px;
    margin-left: 50px;
    width: 40%;
    margin-right: 100px;
}
.banner-text h2{
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 25px;
    /* margin-right: 100px; */
}
#btn{
    width: 100px;
    height: 35px;
    font-weight: bold;
    background-color: #E55473;
    cursor: pointer;
}
.flower{
    height: 600px;
    width: 300px;
}
.image img{
    height: 250px;
    width: 200px;
    margin-top: 20px;
    margin-left: 150px;
    /* margin-top: -100px; */
    /* display: flex; */
    /* margin-right: 200px; */
}
.offer{
    margin: 100px;
    background-color: #FDF6F8;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 40px;

}
.offer-text{
    margin-top: 35px;
    margin-left: -400px;
    width: 50%;
}
.offer img {
    margin-left: 600px;
    margin-top: -100px;
    position: absolute;
}
.offer-text > h2{
    margin-top: 20px;
}
#btn1{
    width: 100px;
    height: 35px;
    font-weight: bold;
    background-color: #E55473;
    cursor: pointer;
}

.blog .row .column img{
    /* margin: 20px; */
    /* margin-left: 70px; */
    display: flex;
    justify-content: center;
    text-align: center;
    
    height: 200px;

    width: 180px;
}
.blog .row .column{
    margin: 20px;
    margin-left: 70px;
    
}
.column{
    float: left;
    width: 15%;
    padding: 5px;
}
.row::after {
    content: "";
    display: table;
    height: 100px;
    width: 70px;
}

/* footer bottom css */

.footer-content{
    text-align: center;
    background-color: black;
    display: block;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.footer-content p{
    
    font-size: ;
}

.Flower{
    color: #E55473;
}
.Shop{
    color: #FFFFFF;
}